.tutorialModalBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    padding: 5%;
    background-color: rgb(0, 0, 0, 0.8);

    .tutorialModal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .navigateButtonsContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        * {
            font-size: large;
        }
    }

    /* .quizSettings {} */

    .quizSettingsMobile {
        display: none;
    }

    @media (max-width: 1300px) {
        .quizSettings {
            display: none;
        }

        .quizSettingsMobile {
            display: block;
        }
    }
}
