.container {
    width: 100%;
    height: 100%;
}

.pokeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 42, 38);
    padding: .5%;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgb(19, 14, 10);
}

.logoImg {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: auto;
}

.pages {
    display: flex;
    gap: 6%;
    justify-content: right;
}

@media (max-width: 600px) {
    .pages {
        display: none;
    }
}
