.customSlider {
    height: 100%;
    width: 100%;

    input {
        margin-top: 10px;
        width: 100%;
    }

    input:disabled {
        cursor: not-allowed;
    }

    .inputValue {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
}

.disabledValue {
    color: darkgray;
}
